body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%, 50%;
    z-index: -1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

h1 {
    margin-top: 0;
}

form {
    margin-top: 20px;
}

button {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkgray;
}

.start-button {
    text-align: center;
    margin-top: 50px;
}

.start-button a {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.start-button a:hover {
    background-color: darkgray;
}


.index-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../static/images/body.jpg');
    background-size: cover;
}

.category-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../static/images/category.jpg');
    background-size: cover;
    }

.type-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../static/images/type.jpg');
    background-size: cover;
    }

.color-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../static/images/color.jpg');
    background-size: cover;
    }

.result-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../static/images/result.jpg');
    background-size: cover;
    }

.result-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 50px auto;
    max-width: 800px;
}

.result-image img {
    max-width: 100%;
    height: auto;
    border: 5px solid white;
    border-radius: 10px;
    margin-top: 20px;
}